/*
Colors used:
Red-Orange: #E96F68
Mint: #53B1B1
Light Grey: #F2F2F2
Medium Grey: #54585B
Dark Grey: #252525 */
/* General and text stylings */
html, body {
  scroll-behavior: smooth;
}

/* Body. Override to 20 on mobile */
body {
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #252525;
  /* Makes sure everything fills 100% of the parent element as recommended by stack overflow */
  height: 100%;
}

img, picture {
  display: block;
}

/* H1. Override to 20 on mobile */
h1 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 24px;
  color: #252525;
  margin-bottom: 0;
}

/* H2. Override to 14 on mobile */
h2 {
  font-size: 22px;
  font-weight: 400;
  color: #252525;
}

p {
  margin-top: 12px;
  margin-bottom: 0;
}

/* Header Styling with a white background. (see override for smaller screens below)*/
header {
  background-color: white;
  /* 0 margin on top/bottom. auto tells browser to calculate and center to the width */
  margin: 0 auto;
  width: 100%;
  /* Fixed to top of screen. Don't need to specify the distance from top b/c it's the first element on HTML. */
  position: fixed;
  /* Positions text to right */
  text-align: center;
  /* Makes header top-most layer */
  z-index: 3;
}

/* Container Styling.*/
.container {
  /* Ensures elements don't touch left/right edges of screen*/
  padding: 0 24px;
  /* White space once screen size gets larger than this size */
  max-width: 1024px;
  /* 0 margin on top/bottom. auto tells browser to calculate and center to the width */
  margin: 0 auto;
}

.mobile-container {
  padding: 0 24px;
  max-width: 1000px;
  margin: 0 auto;
  height: 80px;
  overflow: hidden;
  align-items: center;
  z-index: 3;
  display:none;
}

/* Display none on mobile. */
.main-logo {
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Display on mobile. */
.main-logo-sm {
  display: none;
  padding-top: 18px;
  padding-bottom: 18px;
  float: left;
}

nav {
  padding-top: 100px;
  padding-bottom: 100px;
  float: right;
}

nav>ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

nav>ul>li {
  display: inline-block;
  padding-left: 24px;
}

nav>ul>li>a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 410;
  color: #54585B;
  background-color: white;
  letter-spacing: .5px;
  border-bottom-style: hidden;
}

nav>ul>li>a:hover {
  border-bottom-width: 0.2em;
  border-bottom-style: solid;
}

nav>ul>li:last-child>a {
  background-color: #E96F68;
  color: white;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-bottom-style: none;
  /* Gentle transition from this state to next state (hover) */
  transition: 200ms;
}

nav>ul>li:last-child>a:hover {
  background-color: #54585B;
  cursor: pointer;
}

#myLinks {
  display: none;
}

.links {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  background-color: white;
  letter-spacing: -0.5px;
  border-bottom-width: 0.25em;
  border-bottom-style: hidden;
  padding-bottom: 0.25em;
}

.links:hover {
  border-bottom-style: solid;
  padding-bottom: 0px;
}

/* Main stylings */
main {
  padding-top: 130px;
  margin: 0 auto;
  z-index: 2;
  width: 100%;
  overflow: hidden;
}

.secondary-cta, .primary-cta {
  border: 3px solid #E96F68;
  background-color: white;
  padding: 8px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 16px;
  border-radius: 32px;
  color: #E96F68;
  height: 24px;
  width: 300px;
  line-height: 1.25;
  font-size: 20px;
  font-weight: 410;
  /* Gentle transition from this state to next state (hover) */
  transition: 200ms;
}

.secondary-cta:hover {
  background-color: #E96F68;
  color: #FFFFFF;
  cursor: pointer;
}

.primary-cta:hover {
  background-color: #54585B;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 100%;
}

.bio-desktop {
  width: calc(100% - 64px);
}

/* Footer Styling */
footer {
  margin: 0 auto;
  width: 100%;
  display: block;
  position: relative;
  height: 150px;
  background-color: #252525;
  color: white;
  bottom: 0;
  z-index: 1;
}

.parent {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.child {
  display: table-cell;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #FFFFFF;
  color: #252525;
  cursor: pointer;
  padding: 48px;
  text-align: left;
  border-top: 1px solid #54585B;
  border-left: 1px solid #54585B;
  border-right: 1px solid #54585B;
  outline: none;
  transition: 0.4s;
  max-width: 1024px;
  font-weight: 410;
  font-size: 22px;
  display: block;
}

#lastaccordian {
  border-bottom: 1px solid #54585B;
}

.active {
  border-bottom: 1px solid #54585B;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: url("../img/plusbig.svg");
  float: right;
  margin-top: -8px;
}

.active:after {
  content: url("../img/minusbig.svg");
  margin-top: -8px;
}

.xs-logo {
  display: none;
  margin: 0 auto;
}

.mail {
  display: none;
  float: right;
}

.featured-mobile {
  display: none;
}

.bio-mobile {
  display: none;
}

.partners {
  display:flex;
  justify-content: space-evenly;
  max-width:1024px;
  margin: 0 auto;
  padding-top:40px;
  background-color: #F2F2F2;
  padding-top: 32px;
  width: calc(100% - 64px);
}

#hamburger {
  display: none;
  cursor: pointer;
}

/* Override: On screens that are 1024px wide or less */
@media screen and (max-width: 1024px) {
  nav {
    display: none;
  }
  .main-logo {
    display: none;
  }
  main {
    padding-top: 80px;
  }
  .mobile-container {
    display: flex;
  }
  .xs-logo {
    display: block;
  }
  .mail {
    display: inline;
  }
  h1 {
    font-size: 20px;
    margin-top: 12px;
    margin-left: 24px;
    margin-right: 24px;
  }
  body {
    font-size: 14px;
  }
  p {
    margin-top: 4px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .secondary-cta, .primary-cta {
    padding: 4px;
    width: 220px;
    line-height: 1.8;
    border-width: 2px;
    font-size: 14px;
  }
  .home-img {
    height: auto !important;
    margin-left: 24px;
    margin-right: 24px;
    width: calc(100% - 48px) !important;
  }
  .featured-mobile1 {
    margin-left: 24px;
    margin-right: 24px;
    align-items: center;
  }
  picture>img {
    margin-left: 24px;
    margin-right: 24px;
    width: calc(100% - 48px) !important;
  }
  .wrapper>h1 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
  .whyus {
    float: none !important;
    display: block !important;
    width: 50% !important;
    margin: 0 auto;
  }
  .whyus>h2 {
    font-size: 14px;
    padding-top: 0 !important;
  }
  .whyus>p {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 32px;
    text-align: center;
  }
  #whyuslastchild>p {
    padding-bottom: 0px !important;
  }
  #wrapper2 {
    padding-bottom: 0px !important;
  }
  .partners {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
    width: calc(100% - 48px);
  }
  .partners > a > img {
    width: 75%;
    height: auto;
  }
  .parent, .value-parent {
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
  }
  .child>svg {
    position: relative !important;
  }
  .child>h2, .child>a, .value-child>h2 {
    font-size: 14px !important;
  }
  .value-child>h2 {
    padding-top: 24px !important;
  }
  .value-child>p {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .copyright>p {
    font-size: 14px !important;
  }
  .child {
    flex-shrink: 0;
  }
  .header-2 {
    display: none !important;
  }
  #value-community {
    content: url("../img/small-community.svg");
  }
  #value-creativity {
    content: url("../img/small-creativity.svg");
  }
  #value-customer {
    content: url("../img/small-customer.svg");
  }
  .wrapper {
    padding-bottom: 24px;
  }
  .closewrap {
    padding-bottom: 24px !important;
  }
  .accordion-parent {
    width: calc(100% - 48px) !important;
  }
  .accordion {
    font-size: 14px;
  }
  .accordion:after {
    margin-top: -12px;
  }
  .featured-services-text {
    font-size: 14px !important;
  }
  #myLinks {
    width: 100%;
    background-color: #F2F2F2;
    z-index: 2;
    position: fixed;
    display: none;
    margin-top: 80px;
    overflow: hidden;
    left: 0;
    text-align: left;
    padding-left: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  #myLinks > a {
    background-color: #F2F2F2;
    font-size: 20px;
    text-decoration: none;
    color: #252525;
    font-weight: 500;
    padding-bottom: 12px;
  }
  #hamburger {
    display: inline-block;
    content: url("../img/hamburger.svg");
  }
  #close_hamburger {
    display: none;
    content: url("../img/x-icon.svg");
    cursor: pointer;
  }
  .bio-text > h2 {
    font-size: 14px;
  }
  .bio-text > h1 {
    font-size: 20px!important;
    margin-left: 0;
  }
  .bio-text > p {
    margin-left: 0;
  }
  .bio-desktop {
    width: calc(100% - 48px);
    padding-bottom: 24px!important;
  }
}

/* Override: On screens that are 768px wide or less */
@media screen and (max-width: 768px) {
  .child>svg {
    width: 116px !important;
    height: 54px !important;
    margin: 0 !important;
  }

  .parent {
    gap: 24px;
    width: calc(100% - 48px) !important;
  }

  .value-parent {
    flex-direction: column;
    gap: 48px;
  }

  .value-child>h2, .value-child>p {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .value-child {
    width: 40% !important;
  }

  .featured-mobile1>h2 {
    text-align: left;
    font-size: 14px;
  }

  .featured-desktop {
    display: none;
  }

  .featured-mobile {
    display: block;
  }

  .services-img {
    width: 100% !important;
  }

  #changeimg {
    width: calc(100% - 48px) !important;
  }
  .bio-text {
    width: 50%!important;
  }
  .bio-desktop > img {
    width: 40%!important;
  }
  .whyus > p > br {
    display: none;
  }
}

/* Override: On screens that are 630px wide or less */
@media screen and (max-width: 640px) {
  .bio-mobile {
    display: block;
  }
  .bio-desktop {
    display: none;
    width: calc(100% - 32px) !important;
    padding-bottom: 16px!important;
  }
  .bio-mobile>img {
    width: 100%;
    height: 100%;
  }
  .bio-mobile>h2 {
    margin-left: 24px;
    margin-right: 24px;
  }
}

/* Override: On screens that are 555px wide or less */
@media screen and (max-width: 555px) {
  #footer-logo {
    display: none;
  }

  .value-child {
    width: 75% !important;
  }

  .accordion, #lastaccordian {
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .accordion:after {
    content: url("../img/plus.svg");
    margin-top: -6px;
  }

  .active:after {
    content: url("../img/minus.svg");
    margin-top: -6px;
  }

  .panel {
    padding: 0;
  }

  .panel>ul {
    margin-top: 0;
  }
  .whyus {
    width: 80% !important;
  }
}

/* Override: On screens that are 414px wide or less */
@media screen and (max-width: 414px) {
  .mobile-container {
    padding-left: 16px;
    padding-right: 16px;
  }
  main>div>img {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px) !important;
  }
  h1 {
    margin-left: 16px;
    margin-right: 16px;
  }
  p {
    margin-left: 16px;
    margin-right: 16px;
  }
  picture>img {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px) !important;
  }
  .partners {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
  }
  .parent {
    flex-wrap: wrap;
    width: calc(100% - 32px) !important;
    gap: 33px;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }
  #footer-services {
    order: 1;
  }
  #footer-about {
    order: 2;
  }
  #footer-logo {
    order: 3;
  }
  #footer-contact {
    order: 4;
  }
  #footer-logo {
    display: block;
  }
  .wrapper {
    padding-bottom: 16px;
  }
  .closewrap {
    padding-bottom: 16px !important;
  }
  /* .bio-mobile {
    display: block;
  }
  .bio-desktop {
    display: none;
    width: calc(100% - 32px) !important;
    padding-bottom: 16px!important;
  }
  .bio-mobile>img {
    width: 100%;
    height: 100%;
  } */
  .bio-mobile>h2 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .generation {
    padding-bottom: 48px !important;
  }
  .featured-mobile1 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .home-img {
    height: auto !important;
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px) !important;
  }
  #changeimg {
    width: calc(100% - 32px) !important;
  }
}

.testimonial-parent {
  max-width: 700px;
  margin: auto;
}

.testimonial {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonial-image {
  height: 100px;
  width: 100px;
  filter: grayscale(100%);
  border-radius: 50%;
}

